<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reserva de Banho</title>
    <link rel="stylesheet" href="../static/style.css" />
    {% load bootstrap5 %} {% bootstrap_css %}
  </head>
  <body>
    {% block principal %} {% if sucesso %}
    <div class="alert alert-success" role="alert">
      Reserva feita com sucesso!
    </div>
    {% else %}
    <div class="container" id="main_form">
      <form action="" method="post">
        {% csrf_token %} {% bootstrap_form form %}
        <div class="submit-btn">
          <button class="btn btn-info" type="submit" autocomplete="off">
            Enviar
          </button>
        </div>
      </form>
    </div>
    {% endif %} {% endblock %}
  </body>
</html>
